@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(imgs/fondo1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 10%;
}


.cover{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 25%;
    height: 250px;
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}

.buttonKey {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: black;
    width: 80px;
    height: 80px;
    background: grey;
    align-items: center;
    border: 0;
    animation: pulsoTecla 0.5s ease infinite;
  }

  .hpChabon{
    width: 800px;
    height: 50px;
    background-color: white;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 1px;
    margin-bottom: -40%;
    background: linear-gradient(to right, #AE0909 50%, white 50%);
    
  }

  .hpJugador{
    width: 300px;
    height: 30px;
    background-color: white;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 1px;
    position: absolute;
    margin-bottom: 40%;
    margin-right: 80%;
    background: linear-gradient(to right, #AE0909 100%, white 0%);
  }

  .nJugador{
    font-size: 50px;
    margin-top: -17%;
    color: white;
  }

  .nEnemigo{
    font-size: 50px;
    margin-top: -7%;
    color: white;
  }

  .letra{
    width: 100px;
    height: 100px;
    position: absolute;
  }

  .shadow{
    position: absolute;
    width: 1000px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    opacity: 50%;
    z-index: -1;
    transition: all 0.3s linear 2s;
    
    animation: 2s cubic-bezier(0, 0.5, 0, 0) 0s infinite normal none running pulse;
  }
  
  @keyframes pulse {
    100% {
      width: 70px;

    }

    0% {
        width: 1000px;

      }
  }




.messageS{
  margin-bottom: -10%;
  position: absolute;
  font-size: 50px;
  color: green;
  filter: drop-shadow(4px 4px 0px #000000);
    outline: 10px;
    border-color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    animation: messageSuccess 1s ease infinite;
}

.messageF{
  margin-bottom: -10%;
  position: absolute;
  font-size: 50px;
  color: red;
  filter: drop-shadow(4px 4px 0px #000000);
    outline: 10px;
    border-color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    animation: messageSuccess 1s ease infinite;
}


@keyframes messageSuccess {
  0%{
    letter-spacing: 10px;
    opacity: 0.5;
    transform: translateY(100px);
  }
}


@keyframes pulsoTecla {
  0%{
    transform: translateY(5px);
  }
}

.cineGOD{
  position: absolute;
  height: 800px;
  width: 500px;
  opacity: 0;
}


.cineGOD:hover{
  animation: muchoCINE 5s ease;
}


@keyframes muchoCINE {
  100%{
    opacity: 1;
  }
}