body {
    background-image: url(imagenes/intro1.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: 70%;

}
*{
    user-select: none;
}

@media(max-width: 1373px) {
    body {
        background-size: cover;
    }
}
/* barra karma*/
.progress-bar{
    position: relative;
    left: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}
#rojo{
    position: relative;
    height: 100%;
    z-index: 10;
    right: 0px;
    background-color: brown;
}
.icon{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    background-color: aliceblue;
    margin-left: -20px;
    z-index: -10;
    height: 50px;
    width: 200px;
    align-items: center;
    display: flex;
}
.cuadro_TextEI {
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

#izquierda {
    display: none;
}

#derecha {
    display: none;
}

.cuadroDialogo {
    background-image: url(imagenes/rectangulo.png);
    width: 100%;
    bottom: 0;
    background-size: 100%;
    height: 170px;
    position: absolute;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadroDialogo * {
    color: white;
    text-align: center;
    margin: 6px;
}

.PJ1 {
    position: absolute;
    width: 400px;
    height: 500px;
    right: 0;
    bottom: 0;
    filter: brightness(20%);
}

.PJ2 {
    position: absolute;
    width: 450px;
    height: 500px;
    left: 0;
    bottom: 0;

}

.JAJAS {
    display: flex;
    justify-content: center;
}

:root .op1,
.op2 {
    background-color: rgb(48, 48, 48);
    border: none;
    height: 50px;
    clip-path: var(--cl);
    transition: 1s;

    transform: skewX(-30deg);
}

.op1 p,
.op2 p {
    transform: skewX(30deg);
    margin: 16px;


}

.op1:hover {
    background-color: rgb(0, 0, 0);
    clip-path: var(100% at);

    border: 2px solid white;
    cursor: pointer
}

.op2:hover {
    background-color: rgb(0, 0, 0);
    clip-path: var(100% at);

    border: 2px solid white;
    cursor: pointer
}

.contLib {
    width: 100%;
}

#libreta {
    position: fixed;
    display: flex;
    height: 500px;
    width: 410px;
    right: -350px;
    bottom: 15%;
    z-index: -1;
    transition: all 2s;
}

#cajaLibreta {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    right: -350px;
    bottom: 15%;
    z-index: -1;
    transition: all 2s;
}

#desplegamiento {
    display: none;
}

#IconoCerrar {
    opacity: 0%;
    transition: all 2s;
}

#IconoAbrir {
    display: block;
}

#desplegamiento:checked~#IconoCerrar {
    opacity: 100%;
    right: 780px;
}



#desplegamiento:checked~#IconoAbrir {
    display: none;
}

#desplegamiento:checked~#libreta {
    right: 450px;
}

#desplegamiento:checked~#cajaLibreta {
    right: 450px;
}

.cajaFlechas {
    position: absolute;
    right: 24px;
    z-index: 30;
    bottom: 55%;
}

.desp {
    position: absolute;
}
#pista1 {
    
    color: rgb(0, 0, 0);
    margin: 80px;
    z-index: 29;
    bottom: -10px;
    transition: all 2s;
}

#pista2 {
    
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 40%;
    transition: all 2s;

}

#pista3 {
    
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 30%;
    transition: all 2s;
}

#pista4 {
    
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 15%;
    transition: all 2s;
}

#pista5 {
   
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 5%;
    transition: all 2s;
}

#pista6 {
    
    color: rgb(0, 0, 0);
    margin: 80px;
    z-index: 29;
    bottom: -10px;
    transition: all 2s;
}

#pista7 {
    
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 40%;
    transition: all 2s;
}

#pista8 {
    
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 30%;
    transition: all 2s;
}

#pista9 {
   
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 10%;
    transition: all 2s;
}

#pista10 {


    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: -10%;
    transition: all 2s;
    
}
/*nuevasPistas */
#pista11 {
 
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    transition: all 2s;
}

#pista12 {

    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 37%;
    transition: all 2s;
}

#pista13 {

    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 25%;
    transition: all 2s;
}

#pista14 {

    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 80px;
    bottom: 4%;
    transition: all 2s;
}
#pista15 {
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    bottom: -10%;
    transition: all 2s;
}

#desplegamiento:checked~#pista1,
#desplegamiento:checked~#pista2,
#desplegamiento:checked~#pista3,
#desplegamiento:checked~#pista4 {
    right: 700px;
}

#pistas {
    display: none;
}

#pistaBasura,
#taxi,
#cuerpo,
#radio {
    opacity: 10%;
}

p,
h1,
h2,
h3 {
    user-select: none;
}

h3{
    font-family: "La Belle Aurore", cursive;
    font-size: 23px;
}

#SaltarPistas {
    display: none;
}

#contadorPistass {
    color: white;
    position: absolute;
    right: 0px;
    display: none;
}

.pagina {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.pagina.active {
    display: block;
    opacity: 1;
}

#SaltarPistas {
    background-color: white;
    border: none;
    height: 40px;
    cursor: pointer;

}

#SaltarPistas:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.ContenedorGrisM {
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(170, 145, 1);
}
.ContenedorGris {
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(170, 145, 1);
}

.ContenedorGris2 {
    width: 70px;
    height: 70px;
    margin: 20px;
    background-color: gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image: url(imagenes/anillo.png);
}

.imgIcono {
    width: 80%;
    height: 80%;
}

.Anillo {
    position: absolute;
    width: 110px;
    height: 110px;
    z-index: -2;

}

.ContenedorGris2:hover,
.ContenedorGris:hover,
.ContenedorGrisM:hover {
    background-color: black;

}

.menuHambur {
    color: white;
    font-size: 30px;
    cursor: default;
}
.ContSup{
    display: flex;
}

