body {
    background-image: url(imagenes/intro1.png);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y:70%;

}
@media(max-width: 1373px){
    body{
        background-size:cover;
    }
}

.cuadro_TextEI {
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

#izquierda{
    display: none;
}
#derecha{
    display: none;
}

.cuadroDialogo {
    background-image: url(imagenes/rectangulo.png);
    width: 100%;
    bottom: 0;
    background-size: 100%;
    height: 170px;
    position: absolute;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadroDialogo * {
    color: white;
    text-align: center;
    margin: 6px;
}

.PJ1 {
    position: absolute;
    width: 400px;
    height: 500px;
    right: 0;
    bottom: 0;
    filter: brightness(20%);
}

.PJ2 {
    position: absolute;
    width: 450px;
    height: 500px;
    left: 0;
    bottom: 0;

}

.JAJAS {
    display: flex;
    justify-content: center;
}

:root .op1,
.op2 {
    background-color: rgb(48, 48, 48);
    border: none;
    height: 50px;
    clip-path: var(--cl);
    transition: 1s;

    transform: skewX(-30deg);
}

.op1 p,
.op2 p {
    transform: skewX(30deg);
    margin: 16px;


}

.op1:hover {
    background-color: rgb(0, 0, 0);
    clip-path: var(100% at);

    border: 2px solid white;
    cursor: pointer
}

.op2:hover {
    background-color: rgb(0, 0, 0);
    clip-path: var(100% at);

    border: 2px solid white;
    cursor: pointer
}

.contLib {
    width: 100%;
}

#libreta {
    position: fixed;
    display: flex;
    height: 500px;
    width: 400px;
    right: -350px;
    bottom: 15%;
    z-index: -1;
    transition: all 2s;
}

#cajaLibreta {
    position: fixed;
    display: flex;
    height: 500px;
    width: 400px;
    right: -350px;
    bottom: 15%;
    z-index: -1;
    transition: all 2s;
}

#desplegamiento {
    display: none;
}

#IconoCerrar {
    opacity: 0%;
    transition: all 2s;
}

#IconoAbrir {
    display: block;
}

#desplegamiento:checked~#IconoCerrar {
    opacity: 100%;
    right: 780px;
}



#desplegamiento:checked~#IconoAbrir {
    display: none;
}

#desplegamiento:checked~#libreta {
    right: 450px;
}

#desplegamiento:checked~#cajaLibreta {
    right: 450px;
}

.cajaFlechas {
    position: absolute;
    right: 24px;
    z-index: 30;
    bottom: 55%;
}

.desp {
    position: absolute;
}

#pista1 {
    opacity: 0%;
    color: rgb(0, 0, 0);
    margin: 95px;
    z-index: 29;
    bottom: -10px;
    transition: all 2s;
}

#pista2 {
    opacity: 0%;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 95px;
    bottom: 40%;
    transition: all 2s;

}

#pista3 {
    opacity: 0%;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 95px;
    bottom: 30%;
    transition: all 2s;

}

#pista4 {
    opacity: 0%;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 95px;
    bottom: 20%;
    transition: all 2s;

}
#pista5{
    opacity: 0%;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 30;
    margin: 95px;
    bottom: 10%;
    transition: all 2s;
}

#desplegamiento:checked~#pista1,
#desplegamiento:checked~#pista2,
#desplegamiento:checked~#pista3,
#desplegamiento:checked~#pista4 {
    right: 700px;
}
#pistas{
    display: none;
}
#pistaBasura , #taxi, #cuerpo, #radio{
    opacity: 10%;
}
p, h1, h2, h3{
    user-select: none;
}
#SaltarPistas{
    display: none;
}
#contadorPistass{
    color: white;
    position: absolute;
    right: 0px;
    display: none;
}