
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
*{
    
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(86, 12, 14);
    user-select: none;

}
body{

    background-color: black;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: white;
}