
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
*{
    
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(86, 12, 14);
    user-select: none;

}


body{

    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    z-index: 0;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    color: white;
}

.menu{
    font-size: 100px;
}

.retry{
    font-size: 100px;

}

.death{

    font-size: 200px;

}

.c1{
    z-index: -5;
    position: absolute;
    margin-left: 30%;
    margin-top: -45%;
}

.f1{
    margin-top: 10%;
}